footer.footer {
  background: $gray;
  color: #333;

  a {
    color: #333;

    &:hover {
      color: $secondary;
    }
  }
}

.footer-top,
.footer-middle {
  padding: 30px 0;
  border-bottom: 1px solid #E6E7EA;
}
.f-contacts {
  @include fz(18);
  font-weight: 400;
  margin-left: -15px;
  margin-right: -15px;

  &-group {
    padding-left: 15px;
    padding-right: 15px;
  }
  &-item {
    display: inline-block;
    position: relative;
    padding-left: 30px;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &-icon {
      position: absolute;
      left: 0px;
      top: -1px;
      width: 24px;
      height: 24px;
    }
  }
}

.f-copy,
.f-complaints {
  max-width: 420px;
  margin-bottom: 25px;
}
.f-copy {
  border-bottom: 1px solid #E6E7EA;
  padding-bottom: 10px;
}
.f-complaints {
  position: relative;
  padding-left: 110px;
  @include fz(14);

  &-icon {
    position: absolute;
    left: 0;
    width: 100px;
    top: 0;
  }
  p {
    margin-bottom: 12px;
  }
}
.f-menu {
  line-height: 1.25;
  margin-bottom: 20px;
  padding-right: 15px;

  &-title {
    margin-bottom: 30px;
    @include fz(18);
    font-weight: 700;
    color: #333;
  }
  li {
    margin-bottom: 14px;
  }
}

.footer-bottom {
  padding: 20px 0;
}
.f-paysys {
  &-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 29px;
  }
}
.f-dev {
  font-weight: 400;

  &-link {
    display: inline-block;
    position: relative;
    padding-right: 35px;
    margin-right: 9px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -2px;
      width: 25px;
      height: 37px;
      background: url(../images/svg/farba.svg) center no-repeat;
      background-size: contain;
    }
  }
}

@media (max-width: 1420px) {
  .f-contacts {
    @include fz(16);

    &-item {
      padding-left: 28px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}

@media (max-width: 1240px) {
  .f-contacts {
    &-group {
      &:nth-of-type(1) {
        grid-area: one;
      }
      &:nth-of-type(2) {
        grid-area: two;
      }
      &:nth-of-type(3) {
        grid-area: three;
      }
      &:nth-of-type(4) {
        grid-area: four;
      }
      &:nth-of-type(5) {
        grid-area: five;
      }
    }
    &-item {
      display: block;
    }
  }
}//1240px


@media (max-width: 1240px) and (min-width: 576px) {
  .f-contacts {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: minmax(33px, auto) auto minmax(33px, auto);
    grid-template-areas: 
      "one three four"
      "two three five";

    &-group {
      &:nth-of-type(3) {
        .f-contacts-item {
          min-height: 33px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .col-f-copy {
    order: 1;
  }
  .f-copy, .f-complaints {
    max-width: 100%;
  }
  .f-copy {
    padding-top: 25px;
    border-top: 1px solid #E6E7EA;

    p {
      margin-bottom: 10px;
    }
  }
  .f-complaints-icon {
    top: -10px;
  }
  .f-complaints p {
    margin-bottom: 8px;
  }
  .f-menu {
    margin-bottom: 30px;
  }
  .f-menu-title {
    margin-bottom: 15px;
  }
}


@media (max-width: 768px) {
  .f-bottom-flex {
    display: block;
    text-align: center;
  }
  .f-paysys {
    margin-bottom: 30px;

    &-item {
      margin-right: 2vw;
      max-width: 25%;

      img {
        max-height: 13vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .f-contacts {
    display: grid;
    grid-template-areas: 
      "one three"
      "two three"
      "four three"
      "five three";

    &-item {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 420px) {
  .f-dev,
  .f-copy {
    @include fz(14);
  }
}

@media (max-width: 360px) {
  .footer-top {
    padding-bottom: 22px;
  }
  .f-contacts {
    @include fz(14);

    &-item {
      margin-bottom: 10px;
    }
  }
}