header.header {
	background: #F1F3F6;
	margin-bottom: 35px;
}
.header-top {
	padding: 20px 0;
}
.header-bottom {
	padding: 24px 0;
	border-top: 1px solid #E6E7EA;
}
.h-logo,
.h-catalog {
	-ms-flex: 0 0 250px;
	flex: 0 0 250px;
	max-width: 250px;
}
.h-logo {
	text-align: center;

	img {
		margin: 0 auto;
	}
}
.h-links {
	padding: 0px 20px;
}
.links-menu {
	font-weight: 400;
	@include fz(18);

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0px 12px;

		a {
			color: $font;

			&:hover {
				color: $secondary;
			}
		}
	}
}
.h-contacts {
	white-space: nowrap;
	padding: 0px 20px;

	&-icon {
		width: 24px;
		height: 24px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1px;
	}
}
.h-phone {
	vertical-align: middle;
	margin-right: 7px;
	color: $font;
	@include fz(18);
	font-weight: 700;
}

.h-btns {
	white-space: nowrap;

	.btn-bordered {
		margin-left: 20px;
		border: 1px solid rgba(#FFF,.95);
		background-color: transparent;
		color: $font;
		box-shadow: -30px -30px 80px #FFFFFF, 30px 30px 80px rgba(75, 85, 116, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.5);

		&:hover {
			background-color: #fff;
		}
	}
	
}
.btn-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	width: 24px;
	height: 24px;
	position: relative;
	top: -2px;

	&-user {
		background: $primary;
		border-radius: 50%;
		padding: 5px;
		z-index: 1;

		svg {
			position: relative;
			z-index: 2;
		}

		.btn-triangle {
			position: absolute;
			width: 48px;
			height: 55px;
			top: 34%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: url(../images/bgs/triangle-1.svg) center no-repeat;
			background-size: contain;
			filter: drop-shadow(3px 3px 5px rgba(#000,.35))
		}
	}
	&-notifies {
		position: absolute;
		width: 16px;
		height: 16px;
		top: -5px;
		right: -5px;
		background: $primary;
		border-radius: 50%;
		line-height: 16px;
		text-align: center;
		color: $font;
		font-weight: 700;
		font-style: normal;
		@include fz(11);
	}
}
.header-bottom {
	& > .inner > .flex {
		position: relative;
	}
}
.catalog-toggler {
	position: relative;
	display: block;

	&-lines {
		position: absolute;
		left: 20px;
		top: 50%;
		margin-top: -7px;
		width: 22px;
		height: 14px;

		& > div {
			position: absolute;
			height: 2px;
			background: #FFF;
			transition: transform .1s;
			top: 50%;
			margin-top: -1px;
			width: 100%;
			filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.25));
		}
		.mm-1 {
			transform: translateY(-6px);
			width: 16px;
		}
		.mm-3 {
			transform: translateY(6px);
			width: 16px;
		}
	}
	&-arrow {
		position: absolute;
		width: 12px;
		height: 12px;
		right: 25px;
		top: 50%;
		margin-top: -6px;
		z-index: 1;
	}
	&-triangle {
		position: absolute;
		width: 65px;
		height: 100px;
		right: -5px;
		top: 100%;
		left: 90%;
		transform: translate(-50%,-50%);
		background: url(../images/bgs/triangle-2.svg) center no-repeat;
		background-size: contain;
		z-index: -1;
		filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.35));
	}
	&.opened {
		.mm-2 {
			opacity: 0;
		}
		.mm-1 {
			transform: rotate(45deg);
		}
		.mm-3 {
			transform: rotate(-45deg);
		}
	}
}
.catalog-menu {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 198;
	background: #FFF;
	padding: 50px 70px 10px;
	box-shadow: 4px 4px 30px rgba(124, 124, 124, 0.15);
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0, 15px, 0);
	transition: visibility .1s, opacity .1s, transform .1s;

	&.opened {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0px, 0);
	}
}

.svg-h-cart {
	fill: $secondary;
}
.h-search {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	margin-left: 20px;
}
.header-search {
	display: block;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 17px;
		top: 50%;
		margin-top: -12px;
		width: 24px;
		height: 24px;
		background: url(../images/svg/glass.svg) center no-repeat;
		background-size: contain;
	}
}
input.header-search-input {
	width: 100%;
	padding-left: 55px;
	padding-right: 170px;
	font-family: $basefont;
	background: $input_bg;
	color: $font;
	border: 1px solid $input_border;
	height: $input_height;
	max-width: 100%;
	@include fz($fontsize);
	@if $input_border_radius > 0 {
		-webkit-border-radius: $input_border_radius;
		border-radius: $input_border_radius;
	}
	outline: none !important;
	transition: border .3s, box-shadow .4s;

	&:focus {
		border-color: $primary;
	}
}
button.header-search-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	border-radius: 0px 4px 4px 0px;
}

.h-search {
	position: relative;
}
.h-search-ac {
	position: absolute;
	left: 0;
	right: 150px;
	top: 100%;
	background: #FFF;
	z-index: 199;
	padding: 40px 55px 30px;
	box-shadow: 0px 4px 30px rgba(124, 124, 124, 0.15);
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0, 15px, 0);
	transition: visibility .1s, opacity .1s, transform .1s;

	&.opened {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0px, 0);
	}
}
.h-search-cats {
	padding-bottom: 30px;
	border-bottom: 1px solid $border;
}
.h-search-goods {
	margin-bottom: 25px;
}
.h-search-card {
	padding: 20px 0;
	border-bottom: 1px solid $border;

	&-img {
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		max-width: 50px;
		margin-right: 15px;
	}
	&-mid {
		width: 100%;
		padding-right: 15px;
	}
	&-title {

		a {
			color: $font;
			font-weight: 200;

			&:hover {
				color: $secondary;
			}
		}
	}
	&-code {
		@include fz(9);
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 8px;
	}
	&-availability {
		font-weight: 700;
		@include fz(9);
		text-transform: uppercase;
		margin-right: 8px;
	}
	&-sticker {
		color: #FFF;
		font-weight: 700;
		@include fz(9);
		display: inline-block;
		height: 18px;
		line-height: 18px;
		background: #BD0001;
		padding: 0px 6px;
		margin-right: 8px;
	}
	&-prices {
		white-space: nowrap;
	}
	&-old-price {
		font-weight: 300;
		@include fz(11);
		text-decoration: line-through;
		padding-top: 6px;
	}
	&-price {
		font-weight: 700;
		@include fz(18);
		color: #8F1213;
	}
}


@media (max-width: 1420px) {
	.h-btns {
		.btn {
			border: 0;
			padding: 0;
			box-shadow: none;
			font-size: 0;
		}
	}
}


@media (max-width: 1140px) {
	.header-top {
		padding: 10px 0;
	}
	.header-bottom {
		padding: 12px 0;
	}
	.h-links {
		display: none;
		visibility: hidden;
	}
	.h-contacts {
		width: 100%;
		text-align: right;
	}
}

@media (max-width: 992px) {

	.h-search-ac {
		right: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-search {
		&:before {
			content: none;
		}
		input#{&}-input {
			padding-left: 20px;
			padding-right: 60px;
		}
		button#{&}-btn {
			width: 50px;
			padding: 0;
			font-size: 0;
			text-indent: -9999px;

			&:before {
				content: "";
				position: absolute;
				right: 12px;
				top: 12px;
				width: 15px;
				height: 15px;
				border: 1px solid #FFF;
				border-radius: 50%;
			}
			&:after {
				content: "";
				position: absolute;
				right: 27px;
				top: 27px;
				width: 1px;
				height: 10px;
				background: #FFF;
				transform: rotate(31deg);
			}
		}
	}

}//992

@media (max-width: 768px) {
	.h-logo {
		flex: 0 0 160px;
		max-width: 160px;
	}
	.h-phone {
		@include fz(16);
	}
	.h-contacts {
		padding-right: 5px;
		&-icon {
			display: none;
		}
	}
	.h-btns .btn-bordered {
		margin-left: 10px;
	}
	.h-catalog {
		flex: 0 0 50px;
		max-width: 50px;
	}
	.catalog-toggler {
		font-size: 0;
		width: 100%;
		padding: 0;

		&-lines {
			left: 50%;
			margin-left: -11px;
		}

		&-arrow {
			display: none;
			visibility: hidden;
		}
	}
	.h-search-ac {
		left: -70px;
	}
}

@media (max-width: 450px) {

	.h-logo {
		flex: 0 0 130px;
		max-width: 130px;
	}
	.h-btns {
		.btn {
			height: 24px;
			line-height: 24px;
			i {
				margin-right: 0;
			}
		}
	}
	.btn-icon-user .btn-triangle {
		display: none;
		visibility: hidden;
	}
	.h-contacts {
		padding-right: 0;
	}
	.h-phone {
		display: inline-block;
		position: relative;
		font-size: 0;
		width: 24px;
		height: 24px;
		background: $primary;
		border-radius: 50%;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 1px;
			margin: auto;
			width: 15px;
			height: 15px;
			background: url(../images/svg/c-phone.svg) center no-repeat;
			background-size: contain;
		}
	}
	.header-bottom {
		padding: 10px 0;
	}
	.h-catalog {
		flex: 0 0 40px;
		max-width: 40px;
	}
	.catalog-toggler {
		left: -10px;
		background-color: transparent !important;
		border-color: transparent !important;

		&-lines {
			left: 10px;
			margin-left: 0;

			& > div {
				background: $secondary;
			}
		}
	}
	.h-search {
		margin-left: 0;

		&-cats {
			padding-bottom: 10px;
		}
		.btn-with-counter {
			padding: 0px 20px;
			@include fz(14);
			height: 40px;
			line-height: 38px;
		}
	}
	.h-search-ac {
		left: -60px;
		right: -15px;
		padding-top: 20px;
	}

}